$background-color-primary: #FFFFFF;
$background-color-secondary: #355D8C;
$background-color-tertiary: #F8F8F8;
$background-color-fortiary: #191919;

$font-color-primary: #1d1e20;
$font-color-secondary: #FFFFFF;
$font-color-tertiary: #355D8C;


$navbar-color-overlay: rgba(0, 0, 0, 0.5);
